---
import Background from '@/components/Background.astro'
const title = 'Configurador de Equipos'
---

<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
        />
        <style>
            body {
                background-color: black;
            }
            .container {
                display: flex;
                flex-direction: column;
                max-width: 1440px;
                margin: 0 auto;
            }
            .image-container {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                width: 100%;
                height: 810px;
                overflow: hidden;
                background-color: white;
            }
            .equipment-image {
                position: absolute;
                top: 0;
                left: 0;
                width: auto;
                height: 100%;
                max-width: 100%;
                opacity: 0;
                transition: opacity 0.3s ease;
                object-fit: contain;
            }
            .visible {
                opacity: 1;
            }
            .info-column {
                width: 100%;
                padding-top: 20px;
                padding-left: 40px;
                color: white;
            }
            .extra-hours-input {
                color: black;
                background-color: white;
                width: 50px;
            }
            .extra-hours-container {
                height: 40px;
                visibility: hidden;
                transition: visibility 0.3s ease;
            }
            .extra-hours-container.visible {
                visibility: visible;
            }
        </style>
    </head>
    <body class="p-5">
        <Background />
        <h1 class="text-2xl font-bold mb-8 text-white grid justify-center">
            {title}
        </h1>

        <div class="container">
            <div class="image-container" id="imageContainer">
                <img
                    src="/images/sonido.png"
                    alt="Sonido"
                    class="equipment-image"
                    id="img-sonido"
                />
                <img
                    src="/images/iluminacion.png"
                    alt="Iluminación"
                    class="equipment-image"
                    id="img-iluminacion"
                />
                <img
                    src="/images/humo.png"
                    alt="Humo"
                    class="equipment-image"
                    id="img-humo"
                />
                <img
                    src="/images/dj.png"
                    alt="DJ"
                    class="equipment-image"
                    id="img-dj"
                />
            </div>

            <div class="info-column">
                <form id="equipmentForm" class="mb-4 text-white">
                    <div class="space-y-2">
                        <label class="block">
                            <input
                                type="checkbox"
                                value="sonido"
                                class="mr-2"
                                onchange="updateDisplay()"
                            /> Sonido
                        </label>
                        <label class="block">
                            <input
                                type="checkbox"
                                value="iluminacion"
                                class="mr-2"
                                onchange="updateDisplay()"
                            /> Iluminación
                        </label>
                        <label class="block">
                            <input
                                type="checkbox"
                                value="humo"
                                class="mr-2"
                                onchange="updateDisplay()"
                            /> Humo
                        </label>
                        <label class="block">
                            <input
                                type="checkbox"
                                value="dj"
                                class="mr-2"
                                onchange="updateDisplay()"
                            /> DJ (4 horas)
                        </label>
                        <div
                            id="extraHoursContainer"
                            class="extra-hours-container"
                        >
                            <label class="block">
                                Horas Extras:
                                <input
                                    type="number"
                                    id="extraHours"
                                    class="ml-2 p-1 border border-gray-300 rounded extra-hours-input"
                                    value="0"
                                    onchange="updateDisplay()"
                                    min="0"
                                />
                            </label>
                        </div>
                    </div>
                </form>
                <h2 class="text-xl font-semibold mb-2">
                    Costo Total: <span id="totalCost">0 €</span>
                </h2>
                <div id="equipmentDescriptions"></div>
            </div>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const equipmentPrices = {
                    sonido: 100,
                    iluminacion: 50,
                    humo: 20,
                    dj: 180
                }

                const extraHourPrice = 85
                const equipmentDescriptions = {
                    sonido: 'Sonido: x2 RCF 715 MK5',
                    iluminacion: 'Iluminación: x4 AudibaX IOWA 70W',
                    humo: 'Máquina de humo: x1 BeamZ 1800W',
                    dj: 'DJ: 4 horas'
                }

                window.updateDisplay = function () {
                    const checkboxes = document.querySelectorAll(
                        '#equipmentForm input[type="checkbox"]'
                    )
                    let totalCost = 0
                    let selectedDescriptions = ''
                    let djChecked = false

                    checkboxes.forEach((checkbox) => {
                        const img = document.getElementById(
                            `img-${checkbox.value}`
                        )
                        if (checkbox.checked && img) {
                            img.classList.add('visible')
                            totalCost += equipmentPrices[checkbox.value]
                            selectedDescriptions += `<p>${equipmentDescriptions[checkbox.value]}</p>`
                            if (checkbox.value === 'dj') {
                                djChecked = true
                            }
                        } else if (img) {
                            img.classList.remove('visible')
                        }
                    })

                    const extraHoursContainer = document.getElementById(
                        'extraHoursContainer'
                    )
                    if (djChecked) {
                        extraHoursContainer.classList.add('visible')
                    } else {
                        extraHoursContainer.classList.remove('visible')
                    }

                    const extraHours =
                        parseInt(document.getElementById('extraHours').value) ||
                        0
                    totalCost += extraHours * extraHourPrice

                    if (extraHours > 0) {
                        selectedDescriptions += `<p>Horas Extras: ${extraHours} (${extraHours * extraHourPrice}€)</p>`
                    }

                    document.getElementById('totalCost').innerText =
                        `${totalCost} €`
                    document.getElementById('equipmentDescriptions').innerHTML =
                        selectedDescriptions
                }

                // Asegúrate de que el input de horas extras no permita negativos
                const extraHoursInput = document.getElementById('extraHours')
                extraHoursInput.addEventListener('input', function () {
                    if (this.value < 0) {
                        this.value = 0 // Establecer en 0 si el valor es negativo
                    }
                })
            })
        </script>
    </body>
</html>
