---
import 'photoswipe/style.css'
import photos from '@/data/gallery.json'
---

<section class="py-5 px-5 sm:py-20 sm:px-20 ">
  <h2
    class="text-center mb-8 text-primary text-3xl lg:text-6xl font-semibold tracking-wide"
  >
    Galería
  </h2>
  <!-- <p class="text-center text-2xl">{i18n.INFO.GALLERY_TEXT}</p> -->

  <masonry-layout
    gap="24"
    maxcolwidth="600"
    class="lg:mx-auto mx-4 py-10"
    id="gallery"
  >
    {
      photos.map(({ height, width, name }) => (
        <a
          class="group rounded-xl hover:scale-105 hover:contrast-[110%] transition-all relative"
          href={`/gallery/${name}`}
          target="_blank"
          data-cropped="true"
          data-pswp-width={width}
          data-pswp-height={height}
        >
          <img
            class="rounded-xl object-cover w-full h-auto"
            loading="lazy"
            src={`/gallery/thumbnails/${name}`}
            alt="Fotografía de los premios ESLAND"
          />
          <img
            class="blur-md opacity-0 group-hover:opacity-100 absolute inset-0 transition contrast-150 -z-10 object-cover"
            loading="lazy"
            src={`/gallery/thumbnails/${name}`}
            alt="Imagen con efecto blur para hacer de sombra de una fotografía de los premios ESLAND"
          />
        </a>
      ))
    }
  </masonry-layout>

  <div class="text-center mx-auto">
    <button id="load-more">Descúbrelas todas</button>
  </div>
</section>

<script>
  import '@appnest/masonry-layout'
  import '@appnest/masonry-layout'
  import PhotoSwipeLightbox from 'photoswipe/lightbox'

  document.addEventListener('astro:page-load', () => {
    const lightbox = new PhotoSwipeLightbox({
      gallery: '#gallery',
      children: 'a',
      pswpModule: () => import('photoswipe')
    })
    lightbox.on('uiRegister', function () {
      lightbox.pswp?.ui?.registerElement({
        name: 'download-button',
        order: 8,
        isButton: true,
        tagName: 'a',

        html: {
          isCustomSVG: true,
          inner:
            '<path d="M20.5 14.3 17.1 18V10h-2.2v7.9l-3.4-3.6L10 16l6 6.1 6-6.1ZM23 23H9v2h14Z" id="pswp__icn-download"/>',
          outlineID: 'pswp__icn-download'
        },

        onInit: (el, pswp) => {
          el.setAttribute('download', '')
          el.setAttribute('target', '_blank')
          el.setAttribute('rel', 'noopener')

          pswp.on('change', () => {
            ;(el as HTMLAnchorElement).href = pswp.currSlide?.data.src ?? ''
          })
        }
      })
    })
    lightbox.init()
  })
</script>

<!-- <script define:vars={{ edicion, offset }}>
  document.addEventListener('astro:page-load', () => {
    const $button = document.querySelector('#load-more')
    // clone first element of gallery
    const $first = document.querySelector('#gallery a:first-child')

    $button?.addEventListener('click', async (e) => {
      $button.remove()
      e.preventDefault()
      const res = await fetch('/api/gallery.json?edition=1&offset=9')
      const images = await res.json()

      const html = images
        .map((img, index) => {
          const imgIndex = index + offset
          const $clone = $first?.cloneNode(true)

          $clone.setAttribute('data-pswp-width', img.width)
          $clone.setAttribute('data-pswp-height', img.height)
          $clone.setAttribute(
            'href',
            `/gallery/img-${imgIndex}.webp`
          )
          $clone.classList.add('animate-fade-up')
          $clone.classList.add('animate-delay-300')
          $clone.classList.add('opacity-0')
          $clone
            .querySelector('img:first-child')
            .setAttribute(
              'src',
              `/gallery/thumbnails/img-${imgIndex}.webp`
            )
          $clone
            .querySelector('img:last-child')
            .setAttribute(
              'src',
              `/gallery/thumbnails/img-${imgIndex}.webp`
            )

          return $clone?.outerHTML
        })
        .join('')

      document.querySelector('#gallery')?.insertAdjacentHTML('beforeend', html)
      document.querySelector('masonry-layout').scheduleLayout()
    })
  })
</script> -->

<style is:global>
  .pswp {
    --pswp-bg: #00012a;
  }

  #gallery a {
    cursor: zoom-in;
    animation: fade-up-images linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 20%;
  }

  @keyframes fade-up-images {
    0% {
      opacity: 0;
      translate: 0 50px;
      scale: 0.7;
    }
    100% {
      opacity: 1;
      translate: 0 0;
      scale: 1;
    }
  }
</style>
